// Cor de hover de links: #b9b9b9
// Cor de copyright da obc no footer: #555252
// Cor do item da tabela: #d8d8d8

$link-hover: #b9b9b9;

$copy-color: #555252;

$table-item: #d8d8d8;

$padding-fixo: 20px 0px;

$padding-buton: 15px 35px;

*{
  color: white
}